<launch>
  <node pkg="vfh_rover" type="vfh_rover_testPC" name="singleVoxPc"/>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.05" />
    <remap from="cloud_in" to="testVox"/>
  </node>
  <node name="goal_pub" pkg="vfh_rover" type="goal_pub.py"/>
  <node name="rover_sim" pkg="vfh_rover" type="simRover.py"/>
</launch>
