<launch>
  <node name="test_octomap" pkg="octomap_server" type="octomap_server_node" args="$(find vfh_rover)/fr_079.bt">
    <param name="max_depth" value="13" />
  </node>
  <!--<node name="vfh" pkg="vfh_rover" type="vfh_rover_node"/> -->
  <node name="goal_pub" pkg="vfh_rover" type="goal_pub.py"/>
  <node name="rover_sim" pkg="vfh_rover" type="simRover.py"/>
</launch>

